.app {
  max-width: 400px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: auto;
}
main {
  width: 400px;
  margin: 20px auto;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 10px 0 30px;
}
main h3 {
  font-size: 22px;
  font-weight: 600;
  color: #4A5568;
  margin-top: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  color: #4A5568;
  font-weight: 600;
}

footer img {
  height: 20px;
  margin-right: 3px;
}